<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://alexandersullivan.getforge.io/">Alex Sullivan</a>. An aspiring web developer on a mission to create a career that he truly enjoys.
  </p>
  <br />
  <p>
    I have spent the past year teaching myself to code. After taking many different courses and reading online material, I decided to truly get serious and begin my track of a new career. I enlisted into the <a target="_blank" href="http://www.thefirehoseproject.com/">Firehose Project</a> to get trained by a mentor and build web applications from the ground up.
  </p>
</div>

<br class="clear" />
<br />
<br />

<div class="col-xs-12 col-sm-4">
  <%= image_tag 'alex.jpg', class: 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
  <h2 class="text-center">Alex Sullivan</h2>
  <br />
  <p class="text-center">Alex Sullivan is an aspiring web developer, trying to transition into a new career. For the past 8 years, I have worked as an Applications Analyst in various IT Departments. But in the time, I have developed a curiosity for how things programs are made and how they truly funtion on the backend.
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />